{% extends 'base.html' %}

{% block title %}System Login{% endblock %}

{% block content %}
<section class="card auth-card">
    <h1>Academic Information System Login</h1>
    <p class="muted">Access for Teachers and Principals</p>

    <form method="post" class="form-grid">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <label for="id_username">Username</label>
        {{ form.username }}

        <label for="id_password">Password</label>
        {{ form.password }}

        <button class="btn" type="submit">Login</button>
    </form>

</section>
{% endblock %}
